html {
    font-family: 'Arial';
    font-style: normal;
	padding: 0;
}
body {
	padding: 0;
	margin: 0;
}
.heading {
    font-family: 'Georgia';
    font-weight: 400;
    line-height: 45px;
    margin: 0;
}
h2.heading {
    font-size: 44px;
    line-height: 130%;
}
h3.heading {
    font-size: 35px;
    letter-spacing: 0.06em;
}
h4.heading{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}
h5.heading{
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
.logo:hover { cursor: pointer; }
.sectionHeading {
    width: calc(100% / 3);
    margin: auto;
    text-align: center;
    color: #545454;
}
p.subHeading {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.btn {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding: 15px 45px;
    border-radius: 100px;
}
.btnPrimary {
    color: #292929;
    background: #F1CDB3;
    border: none;
}
.btnPrimary:hover, .btn:hover, .pets .cardContainer .card .btn:hover, .pets .cardContainer .card:hover button.btn{
    background:#FDDCC4;
    border: none;
    cursor:pointer;
}
img.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.startScreen {position: relative;}
.contentWrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
}
.header .navToggle { display: none; }
.startScreen .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    height: 60px;
}
.startScreen .header .logo { height: 60px;}
.startScreen .header .logo span {
    display: block;
    text-align: center;
}
.startScreen .header .logo h1.title{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}
.startScreen .header .logo span.subTitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFF;
    padding-top:10px ;
}
.startScreen .header .navMenu {
    display: flex;
}
.startScreen .header .navMenu .navMenuLink {
    text-decoration: none;
    color: #FAFAFA;
    margin-right: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    padding: 0;
}
.startScreen .header .navMenu .navMenuLink:last-child { margin-right: 0; }
.startScreen .header .navMenu .navMenuLink:hover, .startScreen .header .navMenu .navMenuLink.active {
    border-bottom: 3px solid #F1CDB3;
}
.startScreen .startScreenContent {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.startScreen .startScreenContent .content {
    width: 40%;
    margin-top: 163px;
    margin-right: 42px;
}
.startScreen .startScreenContent .content h2.heading {
    color: #FFFFFF;
    padding-right: 150px;
}
.startScreen .startScreenContent .content p.subHeading {
    margin-top: 42px;
    margin-bottom: 0;
    color: #CDCDCD;
}
.startScreen .startScreenContent .content button.btn { margin-top: 42px; }


.about { margin: 80px 0 100px 0; }
.about .aboutContent {
    display: flex;
    align-items: center;
    padding: 0 175px;
}
.about .aboutContent img {
    margin-right: 120px;
}
.about .aboutContent .heading{
    color: #545454;
    padding-right: 60px;
}
.about .aboutContent p.subHeading {
    color: #4C4C4C;
    margin: 25px 0 0 0;
}

.pets {
    background: #F6F6F6;
    padding: 80px 0 100px 0;
}
.pets .petsContent { text-align: center;}
.pets .slider {
    position: relative;
    margin-top: 60px;
}
.pets .cardContainer {
    display: flex;
    position: relative;
    left: -990px;
}
.pets .sliderWrapper {
    width: 990px;
    overflow: hidden;
    margin: auto;
}
.pets .slider .item {
    display: flex;
    gap:90px;
    min-width: 990px;
}
.pets .slider .btnArrow {
    position: absolute;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.pets .slider .btnArrow:hover{
    background: #FDDCC4;
    border: none;
}
.pets .slider .btnArrow.next {
    right: 0;
}
.pets .slider .btnArrow.prew {
    left: 0;
}
.pets .cardContainer .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
}
.pets .cardContainer .card:hover{
    cursor:pointer;
    background: #fff;
}
.pets .cardContainer .card .title {
    margin-top: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}
.pets .cardContainer .card .btn {
    margin: 30px 0;
    color: #292929;
    border: 2px solid #F1CDB3;
    padding: 13px 45px;
    background: #FAFAFA ;
    z-index: 100;
}
.pets .mainBtn {
    margin-top: 60px;
    text-align:center;
}

.help {
    padding: 80px 0 100px 0;
}
.help .helpList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 120px;
    row-gap: 55px;
    margin: 60px 85px 0;
}
.help .helpList .listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help .helpList .listItem .heading {
    margin-top: 30px;
    color: #545454;
}
.donation {
    background: #F6F6F6;
    padding: 80px 0 100px 0;
}
.donation .donationContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.donation .donationContent img.donation-dog {
    margin-right: 30px;
}
.donation .donationContent .content {
    width: 380px;
}
.donation .donationContent .content h3.heading {
    padding-right: 80px;
    color:#545454;
    line-height: 45px;
}
.donation .donationContent .content h5.heading {
    margin-top: 20px;
    color: #545454;
}
.donation .donationContent .creditCard {
    margin-top: 20px;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    width: fit-content;
    text-decoration: none;
    color: #545454;
}
.donation .donationContent .creditCard img{ margin-right: 15px;}
.donation .donationContent .dominationText {
    margin-top: 20px;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer {
    position: relative;
    padding: 40px 0 0 0;
}
.footer .footerContent {
    display: flex;
    justify-content: space-between;
}
.footer .footerContent .footerInfo{ display: flex; }
.footer .footerContent .footerInfo .columnFirst { margin: 16px 130px 60px 10px; }
.footer .footerContent .footerInfo .columnSecond { margin: 16px 150px 60px 0; }
.footer .footerContent .column img {
    display: block;
    margin-right: -8px;
}
.footer .footerContent .column div.heading {
    color: #FFFFFF;
    font-size: 35px;
    letter-spacing: 0.06em;
}
.footer .footerContent .column .footerItem {
    margin-top: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer .footerContent .column.columnSecond .footerItem  {
    margin-top: 33px;
}
.footer .footerContent .column.columnSecond .footerItem h4.heading { margin-right: 7px;}
.footer .footerContent .column .footerItem h4.heading {
    margin-left: 20px;
    color: #F1CDB3;
}

@media screen and (max-width:1280px){
    .contentWrapper { padding: 0 30px;}
    .sectionHeading { width:400px; }

    .startScreen .header { padding-top: 30px;}
    .startScreen .startScreenContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .startScreen .startScreenContent .content {
        width: 460px;
        margin-top: 0;
        margin-right: 0;
    }
    .startScreen .startScreenContent .content button.btn {
        position: relative;
        left: 50%;
        transform: translatex(-50%);
    }
    .startScreen .startScreenContent img {
        margin-top: 100px;
        width: 80.2%;
        height: 80.2%;
        align-self: flex-end;
    }

    .about .aboutContent {
        flex-direction: column;
        width: 430px;
        margin: auto;
        padding: 0;
    }
    .about .aboutContent img {
        order: 1;
        margin-top: 80px;
        margin-right: 0;
    }
    .pets .cardContainer {
        left: -630px;
    }
    .pets .sliderWrapper {
        width: 630px;
    }
    .pets .slider .item {
        min-width: 630px;
        gap: 50px;
        justify-content: center;
    }

    .help .helpList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        row-gap: 55px;
        margin: 60px 39px 0;
    }

    .donation .donationContent { flex-direction: column; }
    .donation .donationContent img.donation-dog {
        order: 1;
        margin-top: 60px;
        margin-right: 0;
    }

    .footer { padding: 30px 0 0 }
    .footer .footerContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer .footerContent .footerInfo .columnFirst, .footer .footerContent .footerInfo .columnSecond {
        margin:0;
        width: 50%;
    }
    .footer .footerContent .footerInfo .columnFirst div.heading, .footer .footerContent .footerInfo .columnFirst .footerItem { padding: 0 40px 0 34px; }
    .footer .footerContent .footerInfo .columnSecond div.heading, .footer .footerContent .footerInfo .columnSecond .footerItem { padding: 0 16px 0 19px; }
    .footer .footerContent .column .footerItem h4.heading { margin-left: 26px;}
    .footer .footerContent > img{ margin-top: 65px;}
}

@media screen and (max-width:767px) {
    .contentWrapper { padding: 0 10px;}
    .sectionHeading { width:100%; }

    .startScreen .contentWrapper, .overflowHidden { overflow: hidden; }
    .startScreen .contentWrapper.activeMenu {
        background: rgba(41, 41, 41, 0.6);
    }
    .header { position: relative;}
    .logo.active {
        position: absolute;
        right: 95px;
        z-index: 100;
    }
    .header .navToggle {
        display: flex;
        position: absolute;
        top: 59px;
        right: 42px;
        align-items: center;
    }
    .header .navToggle.active {
        transform: rotate(90deg);
    }
    .header .navToggle span,
    .header .navToggle span::after,
    .header .navToggle span::before{
        display: block;
        background: #F1CDB3;
        width: 30px;
        height: 1.5px;
        border-radius: 2px;
        position:relative;
    }
    .header .navToggle span::before,
    .header .navToggle span::after{
        content:"";
        position: absolute;
    }
    .header .navToggle span::before { bottom: 10px; }
    .header .navToggle span::after { top: 10px; }
    .startScreen .header .navMenu {
        flex-direction: column;
        position: absolute;
        background: #292929;
        height: 100vh;
        color: white;
        right: -10px;
        top: 0px;
        width: 300px;
        align-items: center;
        padding-top: 248px;
        transform: translateX(100%);
        transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .startScreen .header .navMenu.active{
        transform: none;
    }
    .startScreen .header .navMenu .navMenuLink {
        margin-right: 0;
        font-size: 32px;
        margin-bottom: 40px;
    }

    .startScreen .startScreenContent .content {
        width: 100%;
        text-align: center;
    }
    .startScreen .startScreenContent .content h2.heading {
        padding-right: 0;
        font-size: 25px;
        letter-spacing: 0.06em;
        padding: 0 35px;
    }
    .startScreen .startScreenContent img {
        margin-top: 105px;
        width: 87%;
        height: 87%;
    }
    .startScreen .startScreenContent .content button.btn {
        position: unset;
        transform: none;
    }

    .about { margin: 42px 0; }
    .about .aboutContent { width: 100%; }
    .about .aboutContent .heading {
        text-align: center;
        padding-right: 0;
        font-size: 25px;
        line-height: 32px;
        padding: 0 35px;
    }
    .about .aboutContent p.subHeading {
        padding: 0 15px;
        text-align: justify;
    }
    .about .aboutContent p.subHeading:last-child{ margin: 22px 0 0; }
    .about .aboutContent img {
        margin-top: 42px;
        width: 87%;
    }

    .pets { padding: 42px 0;}
    h3.heading {
        padding-right: 0;
        font-size: 25px;
        letter-spacing: 0.06em;
        line-height: 30px;
    }
    .pets .slider{ margin-top: 47px; }
    .pets .cardContainer { padding: 0; }
    .pets .cardContainer {
        left: -300px;
    }
    .pets .sliderWrapper {
        width: 300px;
    }
    .pets .slider .item {
        min-width: 300px;
        gap: 0;
        justify-content: center;
    }




    .pets .cardContainer .card .title { line-height: 19px;}
    .pets .slider .btnArrow { position: relative; }
    .pets .slider .btnArrow.prew {
        order: 1;
        top: 501px;
        left: -66px;
    }
    .pets .slider .btnArrow.next {
        top: 18px;
        right: -66px
    }
    .pets .mainBtn { margin-top: 45px; }

    .help { padding: 42px 0; }
    .help h3.heading { line-height: 32px;}
    .help .helpList {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
        margin: 0;
        margin-top: 42px;
    }
    .help .helpList .listItem .heading {
        font-size: 15px;
        margin-top: 18px;
    }
    .help .listItem img { width: 38.5%; }

    .donation { padding: 42px 0;}
    .donation .donationContent .content{
        width: 100%;
        text-align: center;
    }
    .donation .donationContent .content h3.heading {
        padding-right: 0;
        font-size: 25px;
        letter-spacing: 0.06em;
        line-height: 32px;
        padding: 0 36px;
    }
    .donation h5.heading {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 160%;
    }
    .donation h4.heading {
        font-size: 15px;
    }
    .donation .donationContent .creditCard { margin: 20px auto 0; }
    .donation .donationContent img.donation-dog {
        margin-top: 42px;
        width: 86%;
    }
    .donation .donationContent .dominationText {
        padding: 0 10px;
        text-align: justify;
    }

    .footer .footerContent .footerInfo { flex-direction: column; }
    .footer .footerContent .footerInfo .columnFirst, .footer .footerContent .footerInfo .columnSecond {
        width: 100%;
        text-align: center;
    }
    .footer .footerContent .footerInfo .columnFirst div.heading,
    .footer .footerContent .footerInfo .columnSecond div.heading
    {
        padding: 0;
        justify-content: center;
        font-size: 25px;
        padding: 0 10px;
        line-height: 32px;
    }
    .footer .footerContent .footerInfo .columnSecond { margin-top: 40px; }
    .footer .footerContent .footerInfo .columnSecond .footerItem,
    .footer .footerContent .footerInfo .columnFirst .footerItem {
        padding: 0;
        justify-content: center;
    }
    footer .footerContent .footerInfo .columnSecond .footerItem:last-child  h4.heading { margin-left: 8px;}
    footer .footerContent .footerInfo .columnSecond .footerItem:last-child  img {
        position: relative;
        left: -21px;
    }
    .footer .footerContent > img,
    .footer .footerContent .column.columnSecond .footerItem { margin-top: 40px; }
    .footer .footerContent > img { width: 86%; }
}

@keyframes move-right {
    from { left: -990px;}
    to { left: -1980px; }
}
.transition-right {
    animation-name:move-right;
    animation-duration: 2s ;
}

@keyframes move-left {
    from { left: -990px;}
    to { left: 0px; }
}
.transition-left {
    animation-name:move-left;
    animation-duration: 2s ;
}

@media screen and (max-width:1280px){
    @keyframes move-right {
        from { left: -630px;}
        to { left: -1260px; }
    }
    @keyframes move-left {
        from { left: -630px;}
        to { left: 0px; }
    }
}

@media screen and (max-width:767px) {
    @keyframes move-right {
        from { left: -300px;}
        to { left: -600px; }
    }
    @keyframes move-left {
        from { left: -300px;}
        to { left: 0px; }
    }
}

.modal{
    position:fixed !important;
    top:50% !important;
    left:50% !important;
    transform : translate(-50%, -50%) scale(0) !important;
    transition: 200ms ease-in-out !important;
    border-radius: 10px !important;
    z-index:1000 !important;
    background-color:white !important;
    width:900px !important;
    max-width:80% !important;
}
.modal.active{transform : translate(-50%, -50%) scale(1) !important;}
.modal .modalContainer {
    position: relative;
}
.modal .modalContainer button.closeModal {
    position: absolute;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background: none;
    border-radius: 100px;
    top: -43px;
    right: -43px;
}
.modal .modalContainer button.closeModal img {
    padding-top: 7px;
}
.modal .modalContainer button.closeModal:hover {
    background: #F1CDB3;
    cursor: pointer;
}
.modal .modalContent {
    display: flex;
    justify-content: center;
}
.modal .modalContent img{
    width: 500px;
    height: 500px;
    margin-right: 30px;
}
.modal .modalContent .content {
    padding: 50px 20px 0 0;
}
.modal .modalContent .content h2{
    margin: 0;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #545454;
}
.modal .modalContent .content h4{
    margin: 0;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top:10px;
}
.modal .modalContent .content .description {
    padding-top: 40px;
}
.modal .modalContent .content ul {
    padding: 15px 20px 0;
}
.modal .modalContent .content li{
    font-family: "Georgia Bold", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
}
.modal .modalContent .content li span{
    font-family: "Georgia", sans-serif;
    font-weight: 400;
}
.modal .modalContent .content li::marker {
    color: #f1cdb3;
}
#modalOverlay {
    position:fixed !important;
    opacity: 0 !important;
    transition: 200ms ease-in-out !important;
    top: 0 !important;
    left:0 !important;
    right:0 !important;
    bottom:0 !important;
    background-color: rgba(0,0,0, .5) !important;
    pointer-events:none !important;
    }
#modalOverlay.active{
    opacity: 1 !important;
    pointer-events:all !important;
    z-index: 100;
}
.overflowHidden { overflow: hidden; }

@media screen and (max-width:1280px){
    .modal .modalContent img{
        width: 350px;
        height: 350px;
        margin-right: 10px;
    }
    .modal .modalContent .content {
        padding: 10px 9px 0 0;
    }
    .modal .modalContent .content .description {
        padding-top: 10px;
        font-size: 13px;
    }
}

@media screen and (max-width:767px) {
    .modal .modalContent img{
        display: none;
    }
    .modal .modalContent .content {
        padding: 15px;
    }
    .modal .modalContainer button.closeModal {
        width: 40px;
        height: 40px;
        top: -33px;
        right: -30px;
    }
}